body{
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	background: url('IMG/bg2.gif');
	perspective: 300px;
	}
	.openScene{
		position: relative;
		width: 1010px;
		height: 764px;
		margin: 0 auto;
	}
	.openScene img{
		position: absolute;
		display: inline-block;
		height: 100%;
	}
	.openScene #openl{
		left:0;
		top:3px;
	}
	.openScene #openr{
		left:500px;
		top:0;
	}
	#div{
		position:relative;
		top:30px;
		left:50%;
		margin-left:-280px;
		width:560px;
		height:1030px;
		border-radius:10px; 
		background:url('IMG/1.png');
		
	}
	#div .failMove{
		transform: rotateY(180deg) ;
		-webkit-transform:rotateY(180deg);
		-moz-transform: rotateY(180deg);
	}
	#divbg{
		position: absolute;
		left: 50px;
		bottom: 40px;
		width:480px;
		height: 680px; 
	}
	 #divbg div{
		position: absolute;
		width: 100px;
		height: 150px;
		font-size: 0rem;
		color: #666;
		line-height: 150px;
		text-align: center;
		border-radius:10px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
	}
	#divbg div:hover{
		z-index: 3;
		transform: rotate(360deg) scale(1.5);
		-webkit-transform:rotate(360deg) scale(1.5);
		-moz-transform: rotate(360deg) scale(1.5);
	}
	#divbg div.active{
		z-index:2;
		transform: rotateY(180deg) scale(1.2) ;
		-webkit-transform: rotateY(180deg) scale(1.2);
		-moz-transform: rotateY(180deg) scale(1.2);
	}
	#divbg div span{
		display: inline-block;
		width: 100px;
		height: 150px;
		font-size: 0;
	}
	#divbg span.active1{background:url('IMG/Tbg/kp1.gif') no-repeat;}
	#divbg span.active2{background:url('IMG/Tbg/kp2.gif') no-repeat;}
	#divbg span.active3{background:url('IMG/Tbg/kp3.gif') no-repeat;}
	#divbg span.active4{background:url('IMG/Tbg/kp4.gif') no-repeat;}
	#divbg span.active5{background:url('IMG/Tbg/kp5.gif') no-repeat;}
	#divbg span.active6{background:url('IMG/Tbg/kp6.gif') no-repeat;}
	#divbg span.active7{background:url('IMG/Tbg/kp7.gif') no-repeat;}
	#divbg span.active8{background:url('IMG/Tbg/kp8.gif') no-repeat;}

	#div2{
		position: absolute;
		display: none;
		left: 30%;
		top:-524px;
		margin: 0 auto;
		width: 444px;
		height: 524px;
		background: url('IMG/failbg.gif') no-repeat;
	}
	#div2 span{
		display: inline-block;
		margin-left: 70px;
		margin-top: 140px;
		font-size: 4rem;
		color: #fff;
	}
	#div2 span img{
		width: 300px;
		height: 100px;
	}
	#div2 a span{
		margin-left: 140px;
		margin-top: 10px;
		padding: 10px; 
		font-size: 2rem;
	}